h1{
    display: flex;
    justify-content: center;
}
body {
    font: 1em sans-serif;
    padding: 10px;
    margin : 10px;
  }
  
  form {
    max-width: 200px;
  }
  
  p {
    display: block;
  }
  
  input[type=email]{
    
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
  }
  #t3{
      width: 80%;
      margin: 5%;
  }
  input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  .error {
    width  : 100%;
    padding: 0;
   
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }